
#content {
    padding-top:50% ;
    text-align: center;
    background: url(diversity.jpg);
    background-size: cover;
    color: #FFFFFF;
    margin-bottom: 10%;
    font-family: 'Alfa Slab One', cursive; 
}
.text
{position:relative;
bottom: 200px;
}
#events
{margin-left: 20px;
 font-family: "Arial Black", Gadget, sans-serif;
 color: red;
 position: relative;
 bottom: 100px;
}

#list
{
text-align:center;
 
}
#list p{
    font-family: Arial;
}
.img
{
    vertical-align: center;
}
#cen-park{
     
    width: 50%;
    height: 50%;
}
 
 
.profile{
   position: relative;
 bottom: 100px;  
}

li:hover{
    font-size: 16px;
}
 
.col-md-3 
{color: #FFFFFF;
}

.deep-purple
{color: #FFFFFF;
    }
.col-md-4
  {color: #FFFFFF;
    }  
    
.col-md-6 a
{color:#FFFFFF;
}
